<%- include('../layout') %>
<div class="ks-column ks-page" style="margin-left:50px;">
   <div class="ks-page-header">
      <section class="ks-title">
         <h3>Profile Settings</h3>
         <div class="ks-controls">
            <button type="button" class="btn btn-outline-primary ks-light ks-profile-tabs-block-toggle" data-block-toggle=".ks-profile > .ks-tabs-container">Tabs</button>
            <button type="button" class="btn btn-outline-primary ks-light ks-settings-menu-block-toggle" data-block-toggle=".ks-settings-tab > .ks-menu">Menu</button>
         </div>
      </section>
   </div>
   <div class="ks-page-content">
      <div class="ks-page-content-body ks-profile">
         <div class="ks-profile-header">
            <div class="ks-profile-header-user">
               <img src="/admin/assets/img/avatars/ava-1.png" class="ks-avatar" width="100" height="100">
               <div class="ks-info">
                  <div class="ks-name text-capitalize">Welcome! <%=dataSet.dataUser.name%></div>
                  <div class="ks-description"><%=dataSet.dataUser.email%></div>
                  <div class="ks-rating">
                     Since: <%=dataSet.moment(dataSet.dataUser.createdAt).format("MMM-DD-YYYY")%>
                  </div>
               </div>
            </div>
         </div>
         <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light">
		    <ul class="nav ks-nav-tabs">
               <li class="nav-item"></li>
            </ul>
            <div class="tab-content">              
               <div class="tab-pane active" id="settings" role="tabpanel" aria-expanded="false">
                  <div class="ks-settings-tab">
                     <div class="ks-menu">
                        <ul class="nav nav-pills nav-stacked">
                           <li class="nav-item">
                              <a class="nav-link" href="/profile">My Profile</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/profile/edit">Edit Profile</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" href="/changepass">Change Password</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/logout">Logout</a>
                           </li>
                        </ul>
                     </div>
                     <div class="ks-settings-form-wrapper">
                        <form class="form-horizontal" id="changepass_form" role="form" action="/changepass" method="post">
                           <div class="form-group row">
                              <div class="col-lg-4">
                                 <label>Old Password</label>
								 <input type="password" name="old_password" id="old_password" class="form-control" autocomplete="off">
                              </div>
                              <div class="col-lg-4">
                                 <label>New Password</label>
                                 <input type="password" name="password" id="password" class="form-control" autocomplete="off">
                              </div>
                           </div>
                           <div class="form-group row">
                              <div class="col-lg-4">
                                 <label>Confirm Password</label>
								 <input type="password" name="c_password" id="c_password" class="form-control" autocomplete="off">	
                              </div>                              
                           </div>                       
                           <div class="form-group row">
                              <div class="col-lg-12">
                                 <button type="submit" class="btn btn-success">Submit</button>
                              </div>
							        <div class="col-lg-12"> <%- include('../message.ejs') %></div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
$.validator.setDefaults({
	submitHandler: function() {
		document.forms["changepass_form"].submit();
	}
});

$("#changepass_form").validate({
	rules: {
		old_password: "required",
		password: {
			required: true,
            minlength: 6
		},
		c_password: {
			required: true,
            equalTo: "#password"
		}
	},
	messages: {
	    old_password: "Please enter your old password!",
		password: {
			required: "Please enter your password!",
            minlength: "Password should be minimum 6 length!"
		},
		c_password: {
			required: "Please enter your confirm password!",
            equalTo: "Password & Confirm password must be match!"
		}
	}
});

setTimeout(function(){ 
	$(".message-success,.message-error").fadeOut('slow'); 
}, 3000);
</script>