<%- include('../layout') %>
<div class="ks-column ks-page" style="margin-left:50px;">
   <div class="ks-page-header">
      <section class="ks-title">
         <h3>Profile Settings</h3>
         <div class="ks-controls">
            <button type="button" class="btn btn-outline-primary ks-light ks-profile-tabs-block-toggle" data-block-toggle=".ks-profile > .ks-tabs-container">Tabs</button>
            <button type="button" class="btn btn-outline-primary ks-light ks-settings-menu-block-toggle" data-block-toggle=".ks-settings-tab > .ks-menu">Menu</button>
         </div>
      </section>
   </div>
   <div class="ks-page-content">
      <div class="ks-page-content-body ks-profile">
         <div class="ks-profile-header">
            <div class="ks-profile-header-user">
               <img src="/admin/assets/img/avatars/ava-1.png" class="ks-avatar" width="100" height="100">
               <div class="ks-info">
                  <div class="ks-name text-capitalize">Welcome! <%=dataSet.dataUser.name%></div>
                  <div class="ks-description"><%=dataSet.dataUser.email%></div>
                  <div class="ks-rating">
                     Since: <%=dataSet.moment(dataSet.dataUser.createdAt).format("MMM-DD-YYYY")%>
                  </div>
               </div>
            </div>
         </div>
         <div class="ks-tabs-container ks-tabs-default ks-tabs-no-separator ks-full ks-light">
		    <ul class="nav ks-nav-tabs">
               <li class="nav-item"></li>
            </ul>
            <div class="tab-content">              
               <div class="tab-pane active" id="settings" role="tabpanel" aria-expanded="false">
                  <div class="ks-settings-tab">
                     <div class="ks-menu">
                        <ul class="nav nav-pills nav-stacked">
                           <li class="nav-item">
                              <a class="nav-link" href="/profile">My Profile</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link active" href="/profile/edit">Edit Profile</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/changepass">Change Password</a>
                           </li>
                           <li class="nav-item">
                              <a class="nav-link" href="/logout">Logout</a>
                           </li>
                        </ul>
                     </div>
                     <div class="ks-settings-form-wrapper">
                        <form class="form-horizontal" id="edit_form" role="form" action="/profile/edit" method="post">
                           <div class="form-group row">
                              <div class="col-lg-4">
                                 <label>Name</label>
								 <input type="text" name="name" id="name" class="form-control" value="<%=dataSet.dataUser.name%>" autocomplete="off">
                              </div>
                              <div class="col-lg-4">
                                 <label>Mobile</label>
                                 <input type="text" name="mobile" id="mobile"  class="form-control" value="<%=dataSet.dataUser.mobile%>" autocomplete="off">
                              </div>
                           </div>
                           <div class="form-group row">
                              <div class="col-lg-4">
                                 <label>Email</label>
								       <input type="text" name="email" id="email"  class="form-control" value="<%=dataSet.dataUser.email%>" autocomplete="off">	
                           </div>
                           <div class="col-lg-4">
                                 <label>Gender</label>
                                 <select name="gender" id="gender" class="form-control">
                                    <option value="">--Select Gender--</option>
                                    <option value="male"<% if(dataSet.dataUser.gender == 'male') { %>selected<% } %>>Male</option>
                                    <option value="female"<% if(dataSet.dataUser.gender == 'female') { %>selected<% } %>>Female</option>
                                 </select>
                           </div>
                              <div class="col-lg-4">
                                 <label>Address</label>
                                 <input type="text" name="address" id="address"  class="form-control" value="<%=dataSet.dataUser.address%>" autocomplete="off">
                              </div>
                           </div>
						         <div class="form-group row">
						            <div class="col-lg-4">
               							<label>Profile Image</label>
               							<button class="btn btn-primary ks-btn-file">
               							<span class="la la-cloud-upload ks-icon"></span>
               							<span class="ks-text">Choose file</span>
               							<input type="file"
               							   data-validation="mime size required"
               							   data-validation-allowing="jpg, png"
               							   data-validation-max-size="300kb"
               							   data-validation-error-msg-required="No image selected">
               							</button>                                 
                                 </div>                       
                           </div>                       
                           <div class="form-group row">
                              <div class="col-lg-12">
                                 <button type="submit" class="btn btn-success">Submit</button>
                              </div>
							 <div class="col-lg-12"> <%- include('../message.ejs') %></div>
                           </div>
                        </form>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>

<script>
$.validator.setDefaults({
	submitHandler: function() {
		document.forms["edit_form"].submit();
	}
});

$("#edit_form").validate({
	rules: {
	   name: "required",
		mobile: "required",
		email: {
			required: true,
			email:true			
		},
		username: "required"
	},
	messages: {
		name: "Please enter your name!",
		mobile: "Please enter your mobile!",
		email: {
			required: "Please enter your email address!"                            
		},
		username: "Please enter your username!"
	}
});


setTimeout(function(){ 
	$(".message-success,.message-error").fadeOut('slow'); 
}, 3000);
</script>