<%- include('../layout') %>
<div class="ks-column ks-page" style="margin-left:50px;">
   <div class="ks-page-header">
      <section class="ks-title">
         <h3>List Products</h3>
         <div class="ks-controls">
            <nav class="breadcrumb ks-default">
               <a class="breadcrumb-item ks-breadcrumb-icon" href="/dashboard">
               <span class="la la-home ks-icon"></span>
               </a>
               <a href="/products" class="breadcrumb-item">Products</a>
               <span class="breadcrumb-item active" href="#">List</span>
            </nav>
         </div>
      </section>
   </div>
   <div class="ks-page-content">
	   <div class="ks-page-content-body ks-content-nav">
		  <div class="ks-nav-body">
		  <%- include('../message.ejs') %>
			 <div class="ks-nav-body-wrapper">
				<div class="container-fluid">
				   <table id="ks-datatable" class="table table-striped table-bordered" width="100%">
					  <thead>
						 <tr>
						  <th>S.No.</th>
						  <th>Title</th>
						  <th>Price(INR)</th>
						  <th>Quantity</th>
						  <th>Created At</th>
						  <th class="text-center">Status</th>
						  <th class="text-center">Actions</th>
						 </tr>
					  </thead>
					  <tbody>
						 <% if(resultSet.length > 0) { for(var i=0; i < resultSet.length; i++) { %>
						   <tr>
							  <td><%=(i+1)%></td>
							  <td class="capitalize"><%=resultSet[i].name%></td>
							  <td><%=resultSet[i].price%></td>
							  <td><%=resultSet[i].quantity%></td>
							  <td><%=moment(resultSet[i].createdAt).format("MMM-DD-YYYY h:m A")%></td>
							  
							  <% if(resultSet[i].status == 1) { %>
							  <td class="text-center">Active</td>
							  <% } else { %>
							  <td class="text-center">Inactive</td>
							  <% } %>
							  <td class="text-center"><a href="/products/edit/<%=resultSet[i]._id%>" title="Edit">Edit</a></td>
						   </tr>
						   <% } %>
						   <tr><td colspan="7" class="text-right">
						  
						   </td></tr>
						   <% } else { %>
						   <tr><td colspan="7" class="text-center">No record available!</td></tr>
						   <% } %>
					  </tbody>
				   </table>
				</div>
			 </div>
		  </div>
	   </div>
	</div>
</div>
<script>
setTimeout(function(){ 
	$(".message-success,.message-error").fadeOut('slow'); 
}, 3000);
</script>